.container {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.left {
  background-color: lightblue;
}

.middle {
  background-color: lightpink;
}

.right {
  background-color: lightblue;
}