p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
}