p {
  font-family: Roboto, Arial; 
  /* Writing two fonts with comma means that if the first font fails to load, it will fall back to the second font (backup font).*/
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}