body {
  height: 3000px;
}

.bottom-right {
  background-color: gray;
  position: fixed;
  width: 320px;
  height: 180px;
  right: 20px;
  bottom: 20px;
}

.close-button {
  position: absolute;
  background-color: black;
  color: white;
  font: bold 17px Roboto, Arial;
  padding: 14px 18px;
  border-radius: 100px;
  top: -16px;
  left: -16px;
}